<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách loại thiết bị </title>
    <th:block th:replace="layout::link-shortcut"></th:block>
    <th:block th:replace="layout::link-css"></th:block>
    <th:block th:replace="layout::link-css1"></th:block>
    <th:block th:replace="layout::link-css2"></th:block>
    <th:block th:replace="layout::link-css3"></th:block>
    <th:block th:replace="layout::link-css4"></th:block>
    <th:block th:replace="layout::link-css5"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">QUẢN LÝ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">LOẠI THIẾT BỊ</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 style="text-align: center">QUẢN LÝ LOẠI</h1>
    <div>
        <a href="/categories/add" class="btn btn-primary">Thêm loại thiết bị</a>
    </div>
    <table class="table">
        <tr>
            <th>Mã loại </th>
            <th>Tên loại </th>
            <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
        </tr>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/categories/edit/{id}(id=${category.id})}">Sửa</a>
                <a th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="return confirm('Bạn có muốn xóa?')">Xóa</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>