<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <!-- Site title -->
    <title>Chi tiết thiết bị</title>
    <th:block th:replace="layout::link-shortcut"></th:block>
    <th:block th:replace="layout::link-css"></th:block>
    <th:block th:replace="layout::link-css1"></th:block>
    <th:block th:replace="layout::link-css2"></th:block>
    <th:block th:replace="layout::link-css3"></th:block>
    <th:block th:replace="layout::link-css4"></th:block>
    <th:block th:replace="layout::link-css5"></th:block>
</head>

<body>


    <div class="wrapper box-layout">
        <th:block th:replace="layout::header"></th:block>

        <div class="main-header-wrapper bdr-bottom1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-header-inner header-2">
                            <div class="category-toggle-wrap">
                                <div class="category-toggle">
                                    Danh mục
                                    <div class="cat-icon">
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                </div>
                                <nav style="display: none" class="category-menu hm-1">
                                    <ul th:each="item:${categories}">
                                        <li>
                                            <a th:text="${item.name}" th:href="@{'/shop/searchCategory?category='+${item.name}}">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="active"><a th:href="@{/}"><i class="fa fa-home"></i>TRANG CHỦ</a>
                                        </li>
                                        <li class="static"><a th:href="@{/shop}">CỬA HÀNG</a></li>
                                        <li><a th:href="@{/voucher}">VOUCHER</a>
                                        </li>
                                        <li><a>THÔNG TIN THÊM</a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <div style="cursor: pointer" onclick="window.location='/cart';" class="mini-cart2">
                                <div  class="header-mini-cart">
                                    <div class="mini-cart-btn">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span th:text="${quantityNumber}" class="cart-notification"></span>
                                    </div>
                                    <div th:text="${#numbers.formatDecimal(totalNumber, 0, 'COMMA', 0, 'POINT')}+'đ'" class="cart-total-price">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/}">TRANG CHỦ</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/shop}">CỬA HÀNG</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">CHI TIẾT ĐƠN HÀNG</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- product details wrapper start -->
        <div class="product-details-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="product-large-slider mb-20 slick-arrow-style_2">
                                        <div class="pro-large-img img-zoom" id="img1">
                                            <img th:src="${electronic.image}" alt="pictureDetails" />
                                        </div>
                                        <div class="pro-large-img img-zoom" id="img2">
                                            <img th:src="${electronic.image1}" alt="pictureDetails" />
                                        </div>
                                        <div class="pro-large-img img-zoom" id="img3">
                                            <img th:src="${electronic.image2}" alt="pictureDetails" />
                                        </div>
                                        <div class="pro-large-img img-zoom" id="img4">
                                            <img th:src="${electronic.image3}" alt="pictureDetails" />
                                        </div>
                                    </div>
                                    <div class="pro-nav slick-padding2 slick-arrow-style_2">
                                        <div class="pro-nav-thumb"><img th:src="${electronic.image}" alt="" /></div>
                                        <div class="pro-nav-thumb"><img th:src="${electronic.image1}" alt="" /></div>
                                        <div class="pro-nav-thumb"><img th:src="${electronic.image2}" alt="" /></div>
                                        <div class="pro-nav-thumb"><img th:src="${electronic.image3}" alt="" /></div>
                                        <div class="pro-nav-thumb"><img th:src="${electronic.image1}" alt="" /></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="product-details-des mt-md-34 mt-sm-34">
                                        <h3><a href="#" th:text="${electronic.name}"></a></h3>
                                        <div class="ratings">
                                            <span th:if="${electronic.starReview==0}" th:each="i:${#numbers.sequence(1,5)}"  ><i class="fa fa-star-o"></i></span>
                                            <span th:if="${electronic.starReview!=0}" th:each="i:${#numbers.sequence(1,electronic.averageStar)}" class="good"><i class="fa fa-star"></i></span>
                                            <div class="pro-review">
                                                <span th:text="${electronic.quantityReview}+' đánh giá'"></span>
                                            </div>
                                        </div>
                                        <div class="customer-rev">
                                            <a th:text="${electronic.quantityReview}+' khách hàng đã đánh giá'" href="#"></a>
                                        </div>
                                        <div class="availability mt-10">
                                            <h5>Sẵng Sàng:</h5>
                                            <span>100 trong kho</span>
                                        </div>
                                        <div class="pricebox">
                                            <span class="regular-price" th:text="${#numbers.formatDecimal(electronic.discountPrice, 0, 'COMMA', 0, 'POINT')}+'đ'"></span>
                                        </div>
                                        <p th:text="${electronic.description}"></p>
                                        <div class="quantity-cart-box d-flex align-items-center">
                                            <form th:action="@{/cart/upsert}" method="post">
                                                <input type="hidden" th:value="${electronic.id}" name="id"/>
                                            <div class="quantity">
                                                <div class="pro-qty" style="margin-right: 10px"><input type="text" value="1" name="quantity"></div>
                                                <button style="max-width: fit-content" class="btn btn-danger" >thêm vào giỏ<i class="fa fa-shopping-cart"></i></button>
                                            </div>
                                            </form>
                                        </div>
                                        <div class="useful-links mt-20">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-refresh"></i>so sánh</a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="fa fa-heart-o"></i>Danh sách yêu thích</a>
                                        </div>
                                        <div class="share-icon mt-20">
                                            <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                            <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                            <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->

                        <!-- product details reviews start -->
                        <div class="product-details-reviews mt-34">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-review-info">
                                        <ul class="nav review-tab">
                                            <li>
                                                <a class="active" data-toggle="tab" href="#tab_one">Mô Tả</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab_two">Thông Tin</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab_three">Đánh Giá</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content reviews-tab">
                                            <div class="tab-pane fade show active" id="tab_one">
                                                <div class="tab-one">
                                                    <p th:text="${electronic.getDescription()}" ></p>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_two">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                    <tr>
                                                        <td>màu sắc</td>
                                                        <td>đen, xanh, titan</td>
                                                    </tr>
                                                    <tr>
                                                        <td>kích thước</td>
                                                        <td>pro, plus, pro max</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="tab_three">
                                                <form th:action="@{/shop/upsertReview}" method="post" class="review-form">
                                                    <input type="hidden" name="id" th:value="${electronic.id}">
                                                    <h5 th:text="${electronic.quantityReview + ' đánh giá cho thiết bị ' + electronic.name}"></h5>
                                                    <div th:if="${reviews.isEmpty()}" class="alert alert-info">Hiện chưa có đánh giá nào!</div>
                                                    <div th:unless="${reviews.isEmpty()}" class="total-reviews" th:each="item:${reviews}">
                                                        <div class="rev-avatar">
                                                            <img th:src="@{/img/about/avatar.jpg}" alt="avatar">
                                                        </div>
                                                        <div class="review-box">
                                                            <div class="ratings">
                                                                <span th:each="i:${#numbers.sequence(1,item.starRating)}"><i class="fa fa-star"></i></span>
                                                            </div>
                                                            <div class="post-author">
                                                                <span th:text="${item.user.name}"></span>
                                                                <p th:text="${#temporals.format(item.getReviewDate(), 'dd-MM-yyyy HH:mm')}"></p>
                                                            </div>
                                                            <p th:text="${item.getComment()}"></p>
                                                        </div>
                                                    </div>
                                                    <div th:if="${isLogin==false}" class="alert alert-info">Bạn đăng nhập để đánh giá thiết bị nhé !</div>
                                                    <div th:if="${reviewed != null}" class="alert alert-info">Bạn muốn cập nhật đánh giá ?</div>
                                                    <div th:unless="${isLogin==false}">
                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <label class="col-form-label"><span class="text-danger">*</span> Đánh giá của bạn</label>
                                                                <textarea name="comment" class="form-control" required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <label class="col-form-label"><span class="text-danger">*</span> Đánh Giá</label>
                                                                &nbsp;&nbsp;&nbsp; Tệ&nbsp;
                                                                <input type="radio" value="1" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="2" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="3" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="4" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="5" name="rating" checked>
                                                                &nbsp;Cực tốt
                                                            </div>
                                                        </div>
                                                        <div th:unless="${reviewed != null}" class="buttons">
                                                            <button class="sqr-btn" type="submit">Đánh Giá</button>
                                                        </div>
                                                        <div th:if="${reviewed != null}" class="buttons">
                                                            <button class="sqr-btn" type="submit">Cập Nhật</button>
                                                        </div>
                                                    </div>

                                                </form> <!-- end of review-form -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details reviews end -->




                    </div>

                </div>
            </div>
        </div>
        <!-- product details wrapper end -->


        <th:block th:replace="layout::footer"></th:block>

    </div>

</body>

</html>