<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <!-- Site title -->
    <title th:text="${message}"></title>
    <!-- Favicon -->
    <th:block th:replace="layout::link-shortcut"></th:block>
    <th:block th:replace="layout::link-css"></th:block>
    <th:block th:replace="layout::link-css1"></th:block>
    <th:block th:replace="layout::link-css2"></th:block>
    <th:block th:replace="layout::link-css3"></th:block>
    <th:block th:replace="layout::link-css4"></th:block>
    <th:block th:replace="layout::link-css5"></th:block>
</head>

<body>



    <div class="wrapper box-layout" >

        <th:block th:replace="layout::header"></th:block>

        <div class="main-header-wrapper bdr-bottom1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-header-inner header-2">
                            <div class="category-toggle-wrap">
                                <div class="category-toggle">
                                    Danh mục
                                    <div class="cat-icon">
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                </div>
                                <nav style="display: none" class="category-menu hm-1">
                                    <ul th:each="item:${categories}">
                                        <li>
                                            <a th:text="${item.name}" th:href="@{'/shop/searchCategory?category='+${item.name}}">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="active"><a th:href="@{/}"><i class="fa fa-home"></i>TRANG CHỦ</a>
                                        </li>
                                        <li class="static"><a th:href="@{/shop}">CỬA HÀNG</a></li>
                                        <li><a th:href="@{/voucher}">VOUCHER</a>
                                        </li>
                                        <li><a>THÔNG TIN THÊM</a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <div style="cursor: pointer" onclick="window.location='/cart';" class="mini-cart2">
                                <div  class="header-mini-cart">
                                    <div class="mini-cart-btn">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span th:text="${quantityNumber}" class="cart-notification"></span>
                                    </div>
                                    <div th:text="${#numbers.formatDecimal(totalNumber, 0, 'COMMA', 0, 'POINT')}+'đ'" class="cart-total-price">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">TRANG CHỦ</a></li>
                                    <li th:text="${message}" class="breadcrumb-item active" aria-current="page"></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- page wrapper start -->
        <div class="page-main-wrapper">
            <div class="container">
                <div class="row">
                    <!-- product main wrap start -->
                    <div class="col-12">
                        <div class="shop-banner img-full">
                            <img th:src="@{/img/banner/banner_static1.jpg}" alt="">
                        </div>
                        <!-- product view wrapper area start -->
                        <div class="shop-product-wrapper pt-34">
                            <!-- shop product top wrap start -->
                            <div class="shop-top-bar">
                                <div class="row">
                                    <div class="col-lg-7 col-md-6">
                                        <div class="top-bar-left">
                                            <div class="product-view-mode mr-70 mr-sm-0">
                                                <a href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                                <a class="active" href="#" data-target="list"><i class="fa fa-list"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="top-bar-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- shop product top wrap start -->

                            <!-- product item start -->
                            <div class="shop-product-wrap list row">
                                <div class="col-lg-3 col-md-4 col-sm-6" th:each="electronic :${electronics}">
                                    <!-- product single grid item start -->
                                    <div class="product-item fix mb-30" >
                                        <div class="product-thumb">
                                            <a th:href="@{/shop/detail/{id}(id=${electronic.id})}">
                                                <img th:src="*{electronic.image}" class="img-pri" alt="">
                                            </a>
                                            <div class="product-label">
                                                <span>hot</span>
                                            </div>
                                            <div class="product-action-link">
                                                <a th:href="@{'/cart/add?id='+${electronic.id}+'&quantity=1'}" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h4><a th:href="@{/shop/detail/{id}(id=${electronic.id})}" th:text="*{electronic.name}"></a></h4>
                                            <div class="pricebox">
                                                <span class="regular-price" th:text="${#numbers.formatDecimal(electronic.discountPrice, 0, 'COMMA', 0, 'POINT')}"></span>
                                                <div class="ratings">
                                                    <span class="good"><i class="fa fa-star"></i></span>
                                                    <span class="good"><i class="fa fa-star"></i></span>
                                                    <span class="good"><i class="fa fa-star"></i></span>
                                                    <span class="good"><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <div class="pro-review">
                                                        <span>1 review(s)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product single grid item end -->
                                    <!-- product single list item start -->
                                    <div class="product-list-item mb-30">
                                        <div class="product-thumb">
                                            <a th:href="@{/shop/detail/{id}(id=${electronic.id})}">
                                                <img th:src="*{electronic.image}" class="img-pri" alt="">
                                            </a>
                                            <div class="product-label">
                                                <span>hot</span>
                                            </div>
                                        </div>
                                        <div class="product-list-content">
                                            <h3><a th:href="@{/shop/detail/{id}(id=${electronic.id})}" th:text="*{electronic.name}"></a></h3>
                                            <div class="ratings">
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <div class="pro-review">
                                                    <span>1 review(s)</span>
                                                </div>
                                            </div>
                                            <div class="pricebox">
                                                <span class="regular-price" th:text="*{#numbers.formatDecimal(electronic.discountPrice, 0, 'COMMA', 0, 'POINT')}"></span>
                                                <span th:if="${electronic.isActive==true}" class="old-price"><del th:text="${#numbers.formatDecimal(electronic.price, 0, 'COMMA', 0, 'POINT')}"></del></span>
                                            </div>
                                            <p th:text="*{electronic.description}"></p>
                                            <div class="product-list-action-link">
                                                <a class="buy-btn" th:href="@{'/cart/add?id='+${electronic.id}+'&quantity=1'}" data-toggle="tooltip" data-placement="top" title="Add to cart">go to buy <i class="fa fa-shopping-cart"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product single list item start -->
                                </div> <!-- product single column end -->

                            </div>
                            <!-- product item end -->
                        </div>
                        <!-- product view wrapper area end -->


                    </div>
                    <!-- product main wrap end -->
                </div>
            </div>
        </div>
        <!-- page wrapper end -->


        <th:block th:replace="layout::footer"></th:block>

    </div>




</body>



</html>